*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body{
    color: whitesmoke;
    direction: rtl;
    background-color: black;
}

.logo-container{
    display: none;
}
.bi-x-lg{
    display: none;
}




@media screen and (max-width:1100px) {
  .container-nav{
    display: block;
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: fixed;
    background-color:black;
    float: right;
    text-align: right;
    top: -100%;
    right: 0;
    padding: 20px;
    text-align: center;
    transition: .4s ease-out;
  }

  .container-nav .col-12 {
    margin-top: 2rem;
  }

  .logo-container{
    display: block;
  }

  .span-text-logo{
    display: none;
  }

  .bi-x-lg{
    display: block;
    font-size: 30px;
    color: aqua;
  }

  .bi-list-nested{
    
    font-size: 35px;
    color: aqua;
  }

  #carouselExampleControls{
   text-align: center;
   position: absolute;
    width: 370px;
   
  }

 .con-slider{
    width: 100%;
 }

 #carouselExampleControls{
    width:100%;
   
 }

    
}