*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: kamran;
    src: url('./B\ Kamran\ Bold_0.ttf');
}

#body{
    font-family: kamran;
    font-size: 25px;
    color: whitesmoke;
    direction: rtl;
    background-color: black;
}

.logo-container{
    display: none;
}
.bi-x-lg{
    display: none;
}

/* end header style */

main{
   margin-top: 10rem;
}



.row-welcome-text{
    text-align: center;
    margin: auto;
    width: 400px;
    height: 400px;
}

.span-cart{
    width: 300px;
    height: 200px;
    background-color: #333333;
    align-items: center;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 10px aqua;
    margin-top: 1rem;
    

}






@media screen and (max-width:1100px) {
  .container-nav{
    display: block;
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: fixed;
    background-color:black;
    float: right;
    text-align: right;
    top: -100%;
    right: 0;
    padding: 20px;
    text-align: center;
    transition: .4s ease-out;
  }

  .container-nav .col-12 {
    margin-top: 2rem;
  }

  .logo-container{
    display: block;
  }

  .span-text-logo{
    display: none;
  }

  .bi-x-lg{
    display: block;
    font-size: 30px;
    color: aqua;
  }

  .bi-list-nested{
    
    font-size: 35px;
    color: aqua;
  }

  /* #carouselExampleControls{
    position: absolute;
   text-align: center;
    width: 370px;
   
  } */

 .con-slider{
    width: 100%;
 }


 #carouselExampleControls{
    margin: 0;
    text-align: center;
    width:100%;
 }

    
}